.product-info-main {
    .input-text.qty {
        width: 30px;
        height: 30px;
        border: 0;
    }

    .box-tocart .actions {
        float: right;
    }

    .product-add-form {
        border: none;
    }

    .product.attribute.sku {
        color: @ngp-common-color1;
    }

    .prices-tier {
        padding: 10px;
        width: 80%;

        .price-container {
            margin-left: 55px;
        }

        .price {
            font-weight: normal;
        }
    }

    .product-info-price {
        .product-info-stock-sku {
            border: none;
        }
    }
}

& when (@media-common =true) {
    .product-info-main {
        .product-add-form {
            .field.qty {

                .qty-minus,
                .qty-plus {
                    position: absolute;
                    bottom: 612px;
                    background-color: #f5f5f5f5;
                    width: 25px;
                    height: 30px;
                    right: 653px;
                    text-align: center;
                }

                .qty-plus {
                    right: 590px;
                }

                .qty-input {
                    margin-left: 25px;
                }
            }
        }
    }

    .product-info-main .product-addto-links+.action.mailto.friend {
        margin-left: 88px;
    }

    .amxnotif-block {
        #form-validate-price {
            .notification-container {
                .fieldset {
                    label[for="amxnotif-price-gdrp"] {
                        display: contents;
                    }
                }

                .amxnotif_guest_action {
                    margin-left: 3%;
                }
            }
        }
    }


}

.qty-buttons-wrapper,
.catalog-product-view .columns .sidebar.sidebar-main .block-title,
.action.tocompare.feature.feature-icon-hover {
    display: none;
}

.product-social-links {
    .action.feature {
        &:hover {
            color: unset;

            .ic-heart {
                background-color: unset !important;
            }

            .ic-letter {
                background-color: unset !important;
            }
        }

        .icon {
            &.ic-heart {
                background: url('@{baseDir}images/logo/antratek_wishlist_icon.svg') no-repeat left center transparent;
                width: 15px;
                height: 40px;
                display: inline-block;
                background-size: contain;

                &::before {
                    content: none;
                }
            }

            &.ic-letter {
                background: url('@{baseDir}images/logo/antratek_share_icon.svg') no-repeat left center transparent;
                width: 15px;
                height: 40px;
                display: inline-block;
                background-size: contain;

                &::before {
                    content: none;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum ='max') and (@break=@screen__m) {
    .product-info-main {
        .product-add-form {
            .field.qty {

                .qty-minus,
                .qty-plus {
                    bottom: 3px;
                    right: 77%;
                }

                .qty-plus {
                    right: 60%;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum ='min') and (@break=@screen__xl) {
    .product-info-main {
        .product-add-form {
            .field.qty {
                margin-top: 20px;

                .qty-minus,
                .qty-plus {
                    bottom: 590px;
                    right: 653px;
                }

                .qty-plus {
                    right: 590px;
                }

                .qty-input {
                    margin-left: 25px;
                }

            }
        }
    }

    .product-info-main .box-tocart .actions {
        margin-left: 135px;
    }

    .product-primary-column {
        margin-bottom: 50px;
    }

    h1.page-title span.base {
        font-size: 34px;
    }
}

@media only screen and (max-width: @screen__m) {
    .product-info-main {
        .prices-tier {
            width: 100%;

            .price-container {
                margin-left: 10%;
            }
        }
    }
}

@media only screen and (max-width: @screen__s) {
    .product-info-main {
        .prices-tier {
            width: 93%;
            margin-top: 10%;
        }
    }
}

