.product-info-main {
    .input-text.qty {
        width: 30px;
        height: 30px;
        border: 0;
    }

    .box-tocart .actions {
        float: right;
        margin-left: 35px;
    }

    .product-add-form {
        .field.qty {

            .qty-minus,
            .qty-plus {
                position: absolute;
                bottom: 37%;
                right: 33%;
                background-color: #f5f5f5f5;
                width: 20px;
                height: 20px;
                text-align: center;
            }

            .qty-plus {
                right: 29%;
            }

            .qty-input {
                margin-left: 25px;
            }
        }
    }

    .product.attribute.sku {
        color: @ngp-common-color1;
    }
}

.qty-buttons-wrapper,
.catalog-product-view .columns .sidebar.sidebar-main .block-title,
.action.feature.feature-icon-hover.towishlist {
    display: none;
}
