.checkout-onepage-success{
  .bottom{
    .aw_osp-block-crosssell{
      margin-top: 70px;
      .block.crosssell{
        margin-top: 0;
        .block-title.title{
          margin-bottom: 0;
          border-bottom: none;

          strong{
            font-size: 26px;
            font-weight: 500;
            letter-spacing: 1px;
            margin-bottom: 2rem;
            display: inline-block;
            padding-left: 12px;
          }
  
          &::after{
            content: '';
            background: linear-gradient(to right, #0079c4, transparent);
            width: 100%;
            display: inline-block;
            padding: 1px;
          }
        }

        .block-content.content{
          
        }
      }
    }
  }
}