.hp-block.right-column.grid12-3 {
    width: 17%;
}

.block-search.size-s .action.search {
    width: 85px;
    background-color: #3079c4;
    opacity: 1.0;
    color: white;
}

#header-search {
    float: right;
}

#action-search {
    .icon {
        color: #ffffff;
    }
}

.links>li>a:hover {
    background-color: transparent;
    color: #000000 !important;
}

// header links

#header-account {
    .authorization-link {
        a::before {
            content: "\f2bd";
            font-size: 17px;
            height: 12px;
            font-family: FontAwesome;
            color: #0059b5;
        }

        a:hover::before {
            color: #ffffff;
        }
    }
}

.header-primary {
    padding-top: 20px;
    padding-bottom: 20px;
}

.dropdown-block.filled-heading {
    .dropdown-heading {
        .inner-heading {
            padding: 0 20px;
        }
    }
}
.block-search.size-s .action.search .icon{
    width: 15px;
}
