.hp-block.right-column.grid12-3 {
    width: 16%;
}

.block-search {
    z-index: 10;
}

.block-search.size-s .action.search {
    width: 85px;
    background-color:@ngp-common-color1;
    opacity: 1.0;
    color: #ffffff;
}

#header-search {
    float: right;
}

#action-search {
    .icon {
        color: #ffffff;
    }
}

.links>li>a:hover {
    background-color: transparent;
    color: #000000 !important;
}

// header links

#header-account {
    .authorization-link {
        a::before {
            content: "\f2bd";
            font-size: 17px;
            height: 12px;
            font-family: FontAwesome;
            color:@ngp-common-color1;
        }

        a:hover::before {
            color: #ffffff;
        }
    }
}

.header-primary {
    padding-top: 20px;
    padding-bottom: 20px;
}

.dropdown-block.filled-heading {
    .dropdown-heading {
        .inner-heading {
            padding: 0 20px;
        }
    }
}
.block-search.size-s .action.search .icon{
    width: 15px;
}



.header-container{
  .header-primary-container{
    .header-primary{
      .hp-blocks-holder{
        .central-column.hp-block{
          .block-search{
            width: 500px;
            form{
              top: -1px;
            }
          }
          #search{
            padding: 20px 10px;
            &:hover,
            &:focus{
              border-color: #0079c4 !important;
              box-shadow: none;
            }
          }
          #action-search{
            height: 97%;
            width: 11rem;
            font-size: 15px;
            background: #0079c4 !important;
            .icon{
              font-size: 1em;
            }
          }
          .mst-searchautocomplete__autocomplete{
            // min-width:35rem;
            min-width: inherit;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1599px){
  .header-container{
    .header-primary-container{
      .header-primary{
        .hp-blocks-holder{
          .central-column.hp-block{
            #header-search{
              float: none;
              .block-search{
                width: 400px;
                #search{
                  padding: 18px 10px;
                }
                .actions{
                  .action.search{
                    width: 10rem;
                    .ic-search{
                      font-size: 13px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media @ant-tablet{
  .header-container{
    .header-primary-container{
      .header-primary{
        .hp-blocks-holder{
          .central-column.hp-block{
            .block-search{
              width: 300px;
            }
            .mst-searchautocomplete__autocomplete{
              left: 0 !important;
            }
            #action-search{
              width: 8rem;
              font-size: 13px;
              .ic-search{
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}