.header-container{
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: white;
  
  .header-primary-container{
    margin: 2rem 0 1.5rem;
    
    .header-primary{
      .hp-blocks-holder{
        padding-right: 0;
        display: block;

        .left-column.hp-block{
          width: 17%;
        }
        .central-column.hp-block{
          width: 20%;
          padding: 0;
        }
        .right-column.hp-block{
          width: 35%;
        }
      }
    }
  }
}