@import '../../_breakpoint-variable.less';

.cms-orderinformation,
.cms-bestelinformatie,
.cms-bestellinformationen,
.cms-consultancy,
.cms-service {
    * {
        letter-spacing: 0.5px;
    }

    .page-title {
        margin-bottom: 0px;
    }

    .column.main {
        padding-left: calc(58px - 15px) !important;
        padding-top: 42px;

        .align-center-container {
            padding-left: 0px !important;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;

            &.reverse {
                flex-direction: row;
            }

            .cms-img-container {
                margin-bottom: 0px;

                img {
                    zoom: 0.9;

                }

                .cms-img {
                    margin-bottom: 0px !important;
                }
            }
        }

        h2 {
            font-size: 26px !important;

        }

        h5,
        h2 {
            margin-top: 0 !important;
            margin-bottom: 2rem !important;
        }

        p,
        li,
        td {

            &,
            * {

                font-size: 14px !important;
            }

        }

        button {
            font-size: 16px !important;
            font-weight: 400 !important;
        }

        tr {
            td:first-child {
                width: 60px !important;

                img {
                    margin-top: 0;
                    width: 22px;
                }
            }
        }

        li {
            list-style: inside !important;
        }
    }
}

@media @ant-mobile{
    .cms-bestelinformatie,
    .cms-consultancy,
    .cms-service {
        #maincontent {
            .page-title {
                margin-left: 0;
				padding: 0 15px;
            }
            .column.main {
                padding-left: 0 !important;
            }
            .align-center-container {
                flex-direction: column-reverse !important;
                .margin-top {
                    margin-top: 0 !important;
                }
            }
            .cms-img-container {
                margin: 10px auto !important;
            }
        }
    }
}