.cms-over-ons {
  * {
      letter-spacing: 0.5px;
  }

  .page-title {
      margin-bottom: 0px;
  }

  h2 {
      font-size: 26px !important;
  }

  .column.main {
      padding-left:58px !important;
      padding-top: 42px;
      p,
      li,
      td {
          font-size: 14px !important;
          text-align: center;
      }

      li {
          list-style: inside !important;
      }
      img{
          margin-bottom:10px;
      }

  }
}