.antratek-usp {
    padding-top: 0px;
    padding-bottom: 40px;

    .antratek-usp-item {
        background-color: @ngp-bg-color;
        width: 160px;
        height: 200px;
        margin: 1px;

        &:hover {
            background-color: transparent;
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20%;
            margin-bottom: 15%;
            height: 45px;
        }

        .antratek-usp-label {
            text-align: center;
        }

        .antratek-usp-description {
            margin: 12px auto;
            text-align: center;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .antratek-usp {
        margin-left: -25px;

        .antratek-usp-item {
            width: 125px;
        }
    }
}

@media only screen and (max-width: 420px) {
    .antratek-usp {
        margin-left: -8px;

        .antratek-usp-item {
            width: 48%;
        }
    }
}

@media only screen and (min-width: 421px) and (max-width: 768px) {
    .antratek-usp {
        margin-left: -15px;

        .antratek-usp-item {
            width: 180px;
        }
    }
}

@media only screen and (min-width: 1600px) {
    .antratek-usp {
        margin-left: -15px;

        .antratek-usp-item {
            width: 193px;
            height: 250px;

            img {
                height: 70px;
            }
        }
    }
}
