.columns {
    .sidebar.sidebar-main {

        .block-title {
            border-bottom: 0;
        }

        .uaccordion.uaccordion-style1.sideacco {
            font-weight: 500;

            .nav-item>a {
                color: @ngp-common-color1;
                border: 0;
            }

            li {
                &.level0>a {
                    border-bottom: 0;
                }

                &.level1>a {
                    color: #000000;
                }

                &.level2>a {
                    color: @ngp-common-color1;
                }
            }
        }

        .opener {
            background-color: @ngp-bg-color  !important;
            color: #000000;

            &::before {
                font-size: 9px;
            }
        }
    }
}
