.checkout-index-index{
  .main.container{
    padding: 0;
  }

  #checkout {
    .authentication-wrapper{
      display: none;
    }
  }

  .opc-wrapper{

    .shipping-form{
      .checkout-shipping-address{
        padding-top: 22px;

        .step-title{
          font-size: 21px;
          font-weight: 500;
        }
    
        .form-shipping-address{
          margin-bottom: 0;
          margin-top: 0;
        }
    
        .form-login{
          margin-bottom: 0;
          margin-top: 45px;

          .control{
            width: 104%;
          }
          #customer-email-fieldset{
            padding-bottom: 0;
            margin-bottom: 0;
            .label{
              width: 100%;
              padding: 0;
              text-align: left;
              margin-bottom: 7px;
              span{
                font-size: small;
                font-weight: 600;
                letter-spacing: 0.52px;      
              }
            }
      
            .note{
              margin-top: 10px;
              span{
                font-size: small;
                font-weight: 500;
              }
            }
            .field{
              margin-bottom: 20px;
              div.mage-error{
                display: none !important;
              }
            }
          }
        }

        #checkout-step-shipping{
          margin-bottom: 0;
          margin-top: 20px;

          .field[name="custom_check"]{
            .label{
              span{
                font-size: 14px;
                letter-spacing: .5px;
                font-weight: 600;
              }
            }
            .controls{
              label{
                span{
                  font-size: 14px;
                  letter-spacing: .5px;
                  font-weight: 600;
                }
              }
            }
          }
        }
        .shipping-address-items{
          .shipping-address-item{
            width: 100%;
            padding: 15px 20px;
            br{
              display: none;
            }
          }
        }
      }
      
      #shipping-new-address-form{
        margin-top: 0;
        margin-bottom: 0;
        .label{
          width: 100%;
          padding: 0;
          text-align: left;
          margin-bottom: 7px;
          span{
            font-size: small;
            font-weight: 600;
            letter-spacing: 0.52px;      
          }
        }
  
        .comment{
          width: 100%;
          a{
            font-size: small;
            font-weight: 500;
          }
        }

        div.euvat-taxvat-validation-failure,
        div.euvat-taxvat-validation-failure a,
        div.mage-error[generated],
        .field-error span{
          font-size: small;
        }

        .field{
          margin-bottom: 20px;
          position: relative;

          .remChar{
            position: absolute;
            bottom: -30px;
            font-size: small;
          }
        }

        &>.field:first-of-type{
          .controls{
            .col-sm-12{
              display: flex;
              align-items: center;
              input{
                margin-right: 10px;
              }
              span{
                font-size: small;
                font-weight: 600;
                letter-spacing: 1px;
              }
            }
          }
        }

        &>.field:not(:first-of-type){
          width: 49%;
          display: inline-block;
        }
        &>.field{
          .control{
            width: 95%;

            .field{
              margin-bottom: 0;
            }
          }
        }
        &>.field:nth-of-type(5){
          width: 100%;
          display: inline-block;
        }

        .field.street{
          margin-bottom: 0;
          .field.experius-address-line-one{
            .label{
              display: block;
              height: auto;
              clip: unset;
              position: static;
            }
          }
          .control{
            width: 97.5%;
          }
          .field[name="shippingAddress.street.1"],
          .field[name="shippingAddress.street.2"]{
            width: 48.5%;
            display: inline-block;
            .control{
              width: 95%;
            }
          }
          .field[name="shippingAddress.street.1"]{
            margin-right: 2%;
          }
          #remHouseNumber{
            display: none;
          }
        }
        .field[name='shippingAddress.firstname'],
        .field[name='shippingAddress.lastname']{
          position: relative;
          width: 48.5%;
          display: inline-block;
          margin-right: 0;
          #remName{
            display: none;
          }
        }
        .field[name='shippingAddress.firstname']{
          margin-right: 2%;
        }
        .field[name='shippingAddress.city'],
        .field[name='shippingAddress.country_id']{
          margin-right: 2%;
        }
        .field[name='shippingAddress.telephone'],
        .field[name='shippingAddress.postcode']{
          margin-right: 0;
        }
        .field[name='shippingAddress.telephone']{
          .control{
            width: 108%;
          }
        }
        .field[name='shippingAddress.company']{
          width: 48.5%;
          position: relative;
          .control{
            width: 95%;
          }
          #remComp{
            display: none;
          }
        }
        .field[name='shippingAddress.dept_extra_info']{
          margin-right: 2%;
        }
        .field[name="shippingAddress.custom_attributes.customer_taxvat"]{
          width: 99.5%;
        }
        .field[name="shippingAddress.vat_id"]{
          display: none;
        }
        .field[name="invoice_email_check"]{
          margin-bottom: 5px;
          width: 100%;
          & > .label{
            display: none;
          }
          .control{
            .choice.field{
              input[type="checkbox"]{
                vertical-align: baseline;
              }
            }
          }
        }
        .field[name="shippingAddress.custom_attributes.invoice_email"],
        .field[name="shippingAddress.invoice_email"]{
          width: 100%;
          margin-bottom: 0;
          .control{
            width: 97.5%;
          }
        }
        .field.field-vatid .control{
          width: 103%;
          .action-euvat-vatid-validate{
            margin-bottom: 10px;
            span{
              font-size: 16px;
              font-weight: 500;
            }
          }
          .field-note,
          .message.warning,
          .mage-error,
          .euvat-response{
            clear: both;
          }
        }
      }

      #opc-custom-invoice-email{
        margin: 10px 0 40px;
        display: none !important;
        .admin__field-label{
          font-size: 14px;
        }
        .control.inp-invoice-email{
          margin-top: 10px;
          width: 69.5%;
        }
      }
      #opc-custom-create-account{
        .create-account-field{
          max-width: 600px;
          margin-top: 15px;
          .admin__field{
            .admin__field-label{
              font-size: small;
              letter-spacing: .52px;
              font-weight: 600;
            }
          }
          .inp-create-account{
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            .create-acc-lbl{
              letter-spacing: .52px;
              font-weight: 600;
              display: block;
              margin-bottom: 10px;
            }
            .password-col{
              width: 48.5%;
              span{
                font-size: small;
              }
              &.last-col{
                position: relative;
              }
            }
            input{
              width: 95%;
            }
            .pass-msg{
              display: none;
              font-size: small;
              position: absolute;
              bottom: -25px;
              left: 0;
              &.success{
                color: #5cb85c;
              }
              &.fail{
                color: red;
              }
            }
            // }
          }
        }
        .checkout-billing-address{
          margin-top: 20px;
          .billing-address-same-as-shipping-block{
            margin-bottom: 20px;
            label{
              letter-spacing: .52px;
              font-weight: 600;
              span{
                font-size: small;
              }
            }
          }
          .billing-address-form{
            margin-top: 20px;
            .step-title{
              font-size: 21px;
              font-weight: 500;
            }
            #billing-new-address-form{
              max-width: 600px;
              margin-top: 20px;
              .field{
                width: 48.5%;
                display: inline-block;
                .label{
                  letter-spacing: .52px;
                  font-weight: 600;
                  font-size: small;
                  text-align: left;
                  width: 100%;
                  padding: 0;
                  text-align: left;
                  margin-bottom: 7px;
                  text-transform: capitalize;
                  span{
                    font-size: small;
                  }
                }
                .control{
                  width: 95%;
                }
              }
              .field.street{
                margin-bottom: 0;
                width: 100%;
                .field.experius-address-line-one{
                  .label{
                    display: block;
                    height: auto;
                    clip: unset;
                    position: static;
                  }
                }
                .control{
                  width: 97.5%;
                }
                .field[name="billingAddress.street.0"]{
                  width: 100%;
                }
                .field[name="billingAddress.street.1"],
                .field[name="billingAddress.street.2"]{
                  width: 48.5%;
                  display: inline-block;
                  margin-bottom: 29px;
                  .control{
                    width: 95%;
                  }
                }
                .field[name="billingAddress.street.1"]{
                  margin-right: 2%;
                }
              }
              .field[name="billingAddress.country_id"],
              .field[name="billingAddress.city"],
              .field[name="billingAddress.dept_extra_info"],
              .field[name="billingAddress.firstname"]{
                margin-right: 2.5%;
              }
              .field[name="billingAddress.telephone"]{
                .control{
                  width: 108%;
                }
              }
              .field[name="billingAddress.vat_id"],
              .field[name="billingAddress.invoice_email"],
              .field[name="billingAddress.department"]{
                display: none;
              }
              .field.save-address{
                .label{
                  width: auto;
                  float: none;
                }
              }
            }
          }
        }
      }
    }

    .shipping-methods{  
      .step-title{
        font-size: 21px;
        font-weight: 500;
      }

      #checkout-step-shipping_method{
        .table-checkout-shipping-method{
          width: 100%;
        }
        .action.primary.continue{
          padding: 8px 15px;
          span{
            font-size: 16px;
            font-weight: 500;
          }
        }
        #checkout-shipping-method-load{
          .row{
            td:nth-last-child(2),
            td:last-of-type,
            td:nth-last-child(2) p{
              font-size: 14px;
              font-weight: 500;
            }

            td:nth-last-child(2){
              button{
                padding: 8px 15px;
                font-size: 16px;
                position: static;
                width: max-content;
                font-weight: 500;
              }
            }

            td.col.col-price{
              width: 185px;

              .checkout-price-wrapper{
                display: table;
              }
            }
          }
  
          .price-including-tax,
          .price-excluding-tax{
            margin: 0 !important;
            line-height: 22px;
          }
          
          .price-excluding-tax.business .price,
          .price-including-tax.consumer .price{
            font-size: 21px !important;
            font-weight: 600 !important;
          }

          .price-excluding-tax::before,
          .price-including-tax::before,
          .price-including-tax.business .price,
          .price-excluding-tax.consumer .price{
            font-size: 14px;
            font-weight: 500;
          }
        }    
      }

      .methods-shipping{
        .message.notice{
          padding: 8px 20px;
          padding-left: 40px;
          span{
            font-size: 14px;
            &::before{
              margin-top: -16px;
              font-size: 25px;
            }
          }
        }
      }
    }

    .form-login .fieldset .note,
    .form-shipping-address .fieldset .note{
      margin-top: 25px;
    }
  }

  .opc-sidebar{
    &.opc-summary-wrapper{
      margin-top: 0;

      .items-in-cart{
        .title{
          strong{
            span{
              font-size: 16px;
              font-weight: 500;
            }
          }
        }

        .product-item{
          .product-item-details{
            .product-item-name-block{
              width: 75%;
              strong{
                font-size: 16px;
                font-weight: 600;
              }

              .details-qty{
                .label::after,
                span{
                  font-size: 14px;
                  font-weight: 500;
                }
              }
            }

            .subtotal{
              .cart-price{
                .price{
                  color: #444 !important;
                }
              }
              .price-including-tax,
              .price-excluding-tax{
                margin: 0 !important;
                line-height: 22px;
              }

              .price-excluding-tax.business .price,
              .price-including-tax.consumer .price{
                font-size: 18px !important;
                font-weight: 500;
              }
              .price-excluding-tax::before,
              .price-including-tax::before,
              .price-including-tax.business .price,
              .price-excluding-tax.consumer .price{
                font-size: 14px;
              }
            }
          }
        }
      }
    }

    .title{
      font-size: 21px;
      font-weight: 500;
    }

    #opc-sidebar{
      .opc-block-summary{
        .items-in-cart{
          &> .title::after{
            top: 18px;
          }
        }

        .minicart-items{
          .product-item-inner{
            display: block;
            .product-item-name-block{
              display: block;
              margin-bottom: 10px;
              padding-right: 0;
            }

            .subtotal{
              text-align: left;
              display: table;
            }
          }
        }
      }

      .shipping-information{
        .shipping-information-title{
          span{
            font-size: 21px;
            font-weight: 500;
          }
        }
      }
    }
  }

  .fieldset .field-error,
  .field .field-error{
    display: none;
  }

  #opc-new-shipping-address{
    .label{
      width: 100%;
      padding: 0;
      text-align: left;
      margin-bottom: 7px;
      span{
        font-size: small;
        font-weight: 600;
        letter-spacing: 0.52px;      
      }
    }
  
    .comment{
      width: 100%;
      a{
        font-size: small;
        font-weight: 500;
      }
    }
  
    div.euvat-taxvat-validation-failure,
    div.euvat-taxvat-validation-failure a,
    div.mage-error[generated],
    .field-error span{
      font-size: small;
    }
  
    .field{
      margin-bottom: 20px;
      position: relative;
  
      .remChar{
        position: absolute;
        bottom: -30px;
        font-size: small;
      }
      .control{
        width: 95%;
      }

      &.choice{
        &::before{
          display: none;
        }
      }
    }
  
    .field.street{
      margin-bottom: 0;
      .field.experius-address-line-one{
        .label{
          display: block;
          height: auto;
          clip: unset;
          position: static;
        }
      }
      .control{
        width: 97.5%;
      }
      .field[name="shippingAddress.street.1"],
      .field[name="shippingAddress.street.2"]{
        width: 48.5%;
        display: inline-block;
        .control{
          width: 95%;
        }
      }
      .field[name="shippingAddress.street.1"]{
        margin-right: 2%;
      }
      #remHouseNumber{
        display: none;
      }
    }
  
    .field[name='shippingAddress.firstname'],
    .field[name='shippingAddress.lastname']{
      position: relative;
      width: 48.5%;
      display: inline-block;
      #remName{
        display: none;
      }
    }
  
    .field[name="shippingAddress.dept_extra_info"],
    .field[name='shippingAddress.company']{
      width: 48.5%;
      position: relative;
      display: inline-block;
      #remComp{
        display: none;
      }
    }
  
    .field[name="shippingAddress.custom_attributes.customer_taxvat"]{
      width: 99.5%;
    }
  
    .field[name='shippingAddress.city'],
    .field[name='shippingAddress.postcode']{
      width: 48.5%;
      display: inline-block;
    }
  
    .field[name='shippingAddress.country_id'],
    .field[name='shippingAddress.telephone']{
      width: 48.5%;
      display: inline-block;
    }
  
    .field[name='shippingAddress.firstname'],
    .field[name="shippingAddress.dept_extra_info"],
    .field[name='shippingAddress.city'],
    .field[name='shippingAddress.country_id']{
      margin-right: 2%;
    }
  
    .field[name="shippingAddress.vat_id"]{
      display: none;
    }
  
    .field[name="invoice_email_check"]{
      margin-bottom: 5px;
      width: 100%;
      & > .label{
        display: none;
      }
      .control{
        .choice.field{
          input[type="checkbox"]{
            vertical-align: baseline;
          }
        }
      }
    }
  
    .field[name="shippingAddress.invoice_email"]{
      width: 100%;
      margin-bottom: 0;
      .control{
        width: 97.5%;
      }
    }
  
    .field.field-vatid .control{
      width: 103%;
      .action-euvat-vatid-validate{
        span{
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }

  .modals-wrapper{
    .euvatResponse{
      display: flex;
      align-items: center;
      justify-content: center;
      .modal-inner-wrap{
        width: 650px;
        transform: translateX(-50%);
        margin: 0;
        left: 50%;
        .modal-content{
          padding: 1rem 3rem 2rem;
        }
        .modal-footer{
          padding: 0rem 3rem 2rem;
          border-top: none;
          .action.edit{
            margin-right: 10px;
            span{
              font-size: 16px;
              font-weight: 500;
            }
          }
          .action.proceed{
            background-color: #0079c4;
            color: white;
            &:hover{
              background-color: #30a5ff;
            }
            span{
              font-size: 16px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
 
@media(min-width:1600px){
  .checkout-index-index #pickup_mock_up .col-price{
    display: none;
  }
  .checkout-index-index #pickup_mock_up .col-method{
    font-size: 16px;
  }
  .checkout-index-index #pickup_mock_up .btn-primary.ls_modal_submit{
    left: 0;
    background-color: #0079c4;
    font-weight: 500;
    font-style: 16px;
    color: white;
  }
  .checkout-index-index #pickup_mock_up .btn-primary.ls_modal_submit:hover{
    background-color: #30a5ff;
  }
}