.checkout-container {
    .opc-progress-bar {
        .opc-progress-bar-item._active::before,
        .opc-progress-bar-item._active>span::before {
            background-color: @ngp-common-color1;
        }
    }
}

.tab-switch-container{
    display: flex;
    margin-bottom: 8px;

    .tab-1,
    .tab-2 {
        border: 1px solid #ddd;
        border-color: transparent transparent #ddd transparent;
        
        &.active{
            border: 1px solid #ddd;
        }
        
        width: 50%;
        display: inline-block;
        
        label{
            padding: 6px;
            width: 100%;
            display: inline-block;
            cursor: pointer;
            font-size: 14px;
        }
    }
}

#block-shipping{

    &.tab-case-1{
        #shipping-zip-form{
            input[name="postcode"]{
                pointer-events: none;
            }
        }
    }
    &.tab-case-2{
        #shipping-zip-form{
            input[name="postcode"]{
                pointer-events: auto;
            }
        }
    }

    #co-shipping-method-form{
        .field.choice.item{
            .select_link{
                button{
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }
    }

    .field.note{
        display: none;
    }
}

.checkout-cart-index{
    .cart-container{
        .cart-summary{
            #block-shipping{
                .title{
                    border-top: none;
                }
            }
    
            .action.primary.checkout{
                margin-bottom: 10px;
            }

            .checkout.methods.items.checkout-methods-items{
                .shopping-cart-proceed-text{
                   color: green;
                    float: right;
                    font: @ngp-f_btn;
                }
            }
        }

        .form-cart{
            .cart.table-wrapper.detailed{
                .cart.items.table{
                    .cart.item{
                        .item-info{
                            .product-item-details{
                                .item-no{
                                    font-size: 14px;
                                    letter-spacing: .5px;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
                
                .cart-page-freeship{
                    background-color: rgb(223, 240, 216);
                    padding: 8px 16px;
                    display: block;
                    margin-top: 2rem;
                    border-radius: 4px;
                    font-size: 13px;
                    letter-spacing: .5px;
                    font-weight: 600;
                }
            }
        }
    }
}