@import '../../_breakpoint-variable.less';

.cms-terms-and-condition {
	* {
		letter-spacing: 0.5px;
	}

	.page-title {
		margin-bottom: 0px;
	}

	h2 {
		font-size: 26px !important;
	}

	.column.main {
		padding-top: 0;
		p,
		li,
		td {
			font-size: 14px !important;
		}
		li {
			list-style: inside !important;
		}
	}
}

@media @ant-mobile {
		.cms-privacy,
		.cms-terms-and-condition,
		.cms-over-ons {
			#maincontent {
				.page-title {
					margin-left: 0;
					padding: 0 15px;
				}
				.column.main {
					padding-left: 15px !important;
					padding-right: 15px !important;
				}
			}
		}
}