& when (@media-common =true) {
    .nav-container {
        .nav.container.clearer {
            max-width: inherit;
        }

        .inner-container {
            padding: 0;

            .navi>ul {
                padding-left: 70px;
                padding-right: 20px;

                li.nav-item a.level-top {
                    line-height: 35px;
                    padding: 0 18px;
                }
            }
        }
    }

    .sticky-header {
        .sticky-container {
            .inner-container {
                .navi>ul {
                    .nav-item a.level-top {
                        line-height: 50px;
                    }
                }
            }
        }
    }

    .header-container3 {
        .header-primary {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }

    .nav-item.nav-item--home {
        display: none;
    }
}

.media-width(@extremum, @break) when (@extremum ='min') and (@break=@screen__xl) {
    .nav-container {
        .inner-container {
            .navi {
                ul {
                    li.nav-item {
                        a.level-top {
                            line-height: 48px;
                        }
                    }
                }
            }
        }
    }
}
 
.header-container{
    .nav-container .nav-regular{
        background-color: #0079c4 !important;
    }

    #mainmenu{
        ul{
            max-width: 1300px;
            margin: auto;
            padding: 0;

            .nav-item{

                .list-label{
                    .inner-heading{
                        padding: 0;
                    }
                }
                a.level-top{
                    line-height: 48px;
                    span {
                        font-size: 15px;
                        color: white;
                        font-weight: 500;
                        letter-spacing: 0.5px;
                    }
                }
                &:hover{
                    a.level-top{
                        color: #444;
                        span{
                            color: #444;
                        }
                    }
                }
                &.b2c-checkbox{
                    margin: 0 25px 0 35px;
                    .switcher-slider{
                        top: 4px;
                        bottom: -7px;
                        &::before{
                            width: 12px;
                            height: 12px;
                        }
                    }
                    .b2c-switcher{
                        top: 2px;
                    }
                    .list-label{
                        font-size: 15px;
                        color: white;
                        font-weight: 500;
                        letter-spacing: 0.5px;
                    }
                }
                .dropdown-block.filled-heading{
                    &.open{
                        box-shadow: none;
                        .dropdown-heading{
                            box-shadow: none;
                        }
                        .dropdown-content{
                            padding: 15px;
                            min-width: 115px;
                            li{
                                margin: 5px 0;
                            }
                        }
                        .inner-heading{
                            background-color: #0079c4;

                            .caret{
                                color: white;
                            }
                            .label{
                                font-size: 15px;
                                color: white;
                                font-weight: 500;
                                letter-spacing: 0.5px;
                            }
                        }    
                    }
                    .dropdown-content{
                        min-width: 130px;
                        left: -5px;
                        li{
                            a{
                                font-size: 15px;
                                &:hover{
                                    color: #444;
                                }
                            }
                        }
                    }
                    .inner-heading{
                        .label{
                            font-size: 15px;
                            color: white;
                            font-weight: 500;
                            letter-spacing: 0.5px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) and (max-width: 1599px){
    .header-container{
        #mainmenu{
            & > ul{
                max-width: 1140px;
                .nav-item{
                    a.level-top{
                        span{
                            font-size: 13px;
                        }
                    }
                    &.b2c-checkbox{
                        .list-label{
                            font-size: 13px;
                        }
                    }
                    .dropdown-block.filled-heading{
                        &.open{
                            .inner-heading{
                                .label{
                                    font-size: 13px;
                                }
                            }
                        }
                        .dropdown-content{
                            li{
                                a{
                                    font-size: 13px;
                                }
                            }
                        }
                        .inner-heading{
                            .label{
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media @ant-desktop-sm{
  .header-container{
      #mainmenu{
          & > ul{
            .nav-item{
                &.b2c-checkbox{
                    label{
                        line-height: 48px;
                    }
                    .b2c-switcher{
                        top: 8px;
                    }
                }
                .dropdown-block.filled-heading{
                    line-height: 48px;
                }
            }
          }
      }
  }
}

/****************** header navigation CSS Start ******************/

  @media(max-width: 767px){
    .header-container .mini-cart.minicart-wrapper{
      margin-top: 0;
    }
    .header-primary-container .miniquote-wrapper{
      position: absolute;
      right: 0;
      width: 20%;
      margin: 0;
      bottom: 0;
      top: auto;
      left: auto;
      height: 50px;
      float: none;
      display: none;
    }
    .header-primary-container .miniquote-wrapper .action.showquote{
      margin: 0;
      width: 100%;
      height: 100%;
      background-color: #0079c4;
    }
    .header-primary-container .miniquote-wrapper .action.showquote::before{
      position: absolute;
      left: 50%;
      transform: translate(-50%, -40%);
      top: 50%;
      height: 20px;
      width: 20px;
    }
  }
  
/****************** header navigation CSS End ******************/
