.nav-container {
    .nav.container.clearer {
        max-width: inherit;
    }

    .inner-container {
        padding: 0;

        .navi>ul {
            padding-left: 70px;
            padding-right: 20px;

            li.nav-item a.level-top {
                line-height: 35px;
                padding: 0 18px;
            }
        }
    }
}

.sticky-header {
    .sticky-container {
        .inner-container {
            .navi>ul {
                .nav-item a.level-top {
                    line-height: 50px;
                }
            }
        }
    }
}

.header-container3 {
    .header-primary {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.nav-item.nav-item--home {
    display: none;
}
