.checkout-cart-index {
    .form.form-cart {
        .cart {
            .action {
                &.action-edit::before {
                    background: url('@{baseDir}images/cart-icons/edit.svg')no-repeat left center transparent;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    font-size: 32px;
                    content: '';
                    vertical-align: top;
                    display: inline-block;
                    font-weight: normal;
                    overflow: hidden;
                    text-align: center;
                    height: 50px;
                    width: 50px;
                }

                &.action-delete::before {
                    background: url('@{baseDir}images/cart-icons/delete.svg')no-repeat left center transparent;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    font-size: 32px;
                    content: '';
                    margin: 0;                    
                    vertical-align: top;
                    display: inline-block;
                    font-weight: normal;
                    overflow: hidden;
                    text-align: center;
                    height: 50px;
                    width: 50px;
                }
            }
        }
    }
}
.cart-container .form-cart .action.update:before{
    background: url('@{baseDir}images/cart-icons/update.svg')no-repeat left center transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 32px;
    line-height: 16px;
    color: inherit;
    content: '';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    text-align: center;
    height: 50px;
    width: 50px;
}
