.checkout-cart-index {
    .form.form-cart {
        .cart {
            .action {
                background-color: @ngp-common-color1;
                color: #ffffff;

                &:hover {
                    background-color: #30a5ff;
                }
            }
        }
    }
}
