.right-column,
.sticky-header .right-column {

    .minicart-wrapper,
    .minicart-wrapper.open {
        span .icon.ic.ic-cart {
            background: url('@{baseDir}images/logo/antratek_shopping cart_icon.svg')no-repeat left center transparent;
            height: 15px;
            width: 15px;
            display: inline-block;

            &::before {
                content: '';
            }
        }
    }
}

.sticky-header .right-column {
    .minicart-wrapper {
        span .icon.ic.ic-cart {
            background: url('@{baseDir}images/logo/shipping cart-icon.svg') no-repeat left center transparent;
        }
    }
}

#header-account {
    .authorization-link {
        a::before {
            content: '';
            background: url('@{baseDir}images/logo/antratek_user account_icon.svg ') no-repeat left center transparent;
            width: 15px;
            height: 15px;
            display: inline-block;
            background-size: contain;
            margin-bottom: -4px;
        }
    }
}

.miniquote-wrapper .action.showquote::before {
    content: '';
    background: url('@{baseDir}images/logo/quotation-icon.svg') no-repeat left center transparent;
    width: 15px;
    height: 15px;
    display: inline-block;
    background-size: contain;
}

.dropdown-block .dropdown-heading .counter {
    border-radius: 50px;
    height: 20px;
    width: 20px;
    line-height: 21px;
}

.dropdown-block.minicart-wrapper {
    position: relative;
}

.miniquote-wrapper {
    position: relative;
    top: 50px;
    left: 0;
    margin-left: 0;
}

.miniquote-wrapper.active .block-miniquote {
    margin-top: 0;
    top: 65px;
    right: -35px;
}

.miniquote-wrapper .block-miniquote:before {
    right: 40px;
}

.miniquote-wrapper .block-miniquote:after {
    right: 39px;
}

.media-width(@extremum, @break) when (@extremum ='min') and (@break=@screen__xl) {
    #header-account {
        .authorization-link {
            a {
                font-size: 18px;
            }
        }
    }

    .header-container .hp-blocks-holder {
        padding-right: 115px;
    }

    .miniquote-wrapper .action.showquote .text {
        width: auto;
        height: auto;
        position: static;
        clip: unset;
        overflow: unset;
        font: 15px Quicksand, Arial, 'Helvetica Neue', Helvetica, sans-serif;
    }
}


.header-container{
  #header-account{
    float: right;
    .my-account{
      font-size: 15px;
      font-weight: 500;
      &:hover{
        color: #0079c4 !important;
      }
    }
    .authorization-link{
      a{
        font-size: 15px !important;
        font-weight: 500;
        margin-right: 5px;
        &::before{
          width: 21px !important;
          height: 21px !important;
          vertical-align: middle;
          margin-right: 5px;
          margin-top: -3px;
        }
        &:hover{
          color: #0079c4 !important;
        }
      }
    }
  }

  .minicart-wrapper.mini-cart{
    float: right;
    margin: 0 20px 0 10px;

    .dropdown-heading{
      .label{
        font-size: 15px !important;
        font-weight: 500;
        &:hover{
          color: #0079c4;
        }
      }

      span.inner-heading{
        .icon.ic.ic-cart{
          width: 21px !important;
          height: 21px !important;
          vertical-align: middle;
          margin-right: 3px;
        }
      }

      .counter{
        position: absolute;
        left: 3%;
        top: -12%;
        background-color: #5cb85c;
        height: 22px;
        min-width: 22px;
        text-align: center;
        line-height: 22px;
        width:auto;
        border-radius: 50%;
        .counter-number{
          font-size: 14px;
         font-weight:600;
         line-height:22px;
        }
      }
    }

    #header-cart{
      padding: 20px;
      width: 350px;

      #minicart-content-wrapper{
        .block-content{
          .items-total{
            float: none;
            margin: 0px;
            .count, span{
              font-size: 16px;
              font-weight: 600;
            }
          }
          .subtotal{
            text-align: left;
            display: flex;
            margin: 10px 0px;
    
            .label{
              width: 70%;              
              span{
                font-size: 16px;
                font-weight: 600;
              }
            }
            .amount.price-container{
              width: 30%;
              text-align: right;
              .price{
                font-size: 21px;
                color: #444;
                font-weight: 600;
              }
            }
          }
          .actions{
            .primary{
              .action.checkout{
                display: none;
              }
            }
          }
          .minicart-items-wrapper{
            padding-bottom: 0px;
            .minicart-items{
              .product-item{
                .product-item-details{
                  padding-left: 90px;
      
                  .product-item-name{
                    a{
                      font-size: 16px;
                      font-weight: 600;
                    }
                  }
                  .product-item-pricing{
                    .price-container{
                      margin: 10px 0 !important;
                    }

                    .price,
                    .price-excluding-tax::before,
                    .price-including-tax::before{
                      font-size: 12px !important;
                      color: #747576;
                      line-height: 10px !important;
                    }

                    .price-excluding-tax,
                    .price-including-tax{
                      margin: 0 !important;
                    }

                    .price-excluding-tax.business,
                    .price-including-tax.consumer{
                      .price{
                        font-size: 16px !important;
                        color: #444;
                      }
                    }

                    .details-qty{
                      .label{
                        font-size: 14px;
                        font-weight: 500;
                        width: auto;
                      }
                      .item-qty{
                        margin-left: 10px;
                        height: 25px;
                        width:50px;
                      }
                      .update-cart-item{
                        padding: 4px 8px;
                        font-weight: 500;
                        background: #0079c4;
                        color: white;
                        vertical-align: bottom;
                        &:hover{
                          background: #30a5ff;
                        }
                        span{
                          font-size: 14px;
                        }
                      }
                    }
                  }

                  .product.actions{
                    .primary{
                      display:none;
                    }
                  }
                }
                .message.notice{
                  display: none;
                }
              }
            }
          }
          .actions{
            .action.viewcart{
              display: block;
              background: #0079c4;
              color: white;
              padding: 10px;
              &:hover{
                background-color:#30a5ff;
                color: white;
              }
              span{
                font-size: 16px;
              }
            }
          }
          .minicart-shipping-text{
            color: #5cb85c !important;
            width: 100%;
            margin: 7px auto;
            text-align: center;
            font-size: 14px !important;
          }
        }
      }
    }
  }

  .miniquote-wrapper{
    position: relative;
    float: right;
    top: 0;

    .action.showquote{
      &:hover{
        .text{
          color: #0079c4;
        }
      }
      &::before{
        width: 21px;
        height: 21px;
        vertical-align: middle;
        content: '' !important;
      }
      .text{
        font-size: 15px;
        font-weight: 500;
      }
      .counter.qty{
        position: absolute;
        background-color: #5cb85c;
        height: 22px;
        min-width: 22px;
        text-align: center;
        line-height: 22px;
        width:auto;
        border-radius: 50%;
        padding: 0;
        left: -16%;
        top: -20%;
        .counter-number{
          text-shadow: none;
          font-size: 14px;
          font-weight:500;
          line-height:22px;
        }
      }
    }
    .block-miniquote{
      width: 350px;
      top: 40px;
      right: -2px;
      padding: 20px 20px 0px;
      margin-top: 0px;

      #miniquote-content-wrapper{

        .block-content{
          .action.close{
            height: auto;
            width: 35px;
            position: absolute;
            right: 0;
            top: 3%;
            &::before{
              line-height: 23px;
            }
            &:hover{
              color: #333;
            }
          }

          .items-total{
            font-size: 16px;
            text-align: left;
            margin-bottom: 20px;
            font-weight: 600;
            color: #333;
            .count{
              font-size: 16px;
              font-weight: 600;
              color: #333;
            }
          }

          .actions{
            .primary{
              display: none;
            }
          }

          .miniquote-items-wrapper{
            border-color: #f5f5f5;

            .product-item{
              text-align: left;
              .product-item-details{
                padding-left: 90px;
    
                .product-item-name a{
                  font-size: 16px;
                  font-weight: 600;
                  color: #333;
                  &:hover{
                    color: #aaa;
                  }
                } 

                .product-item-pricing{
                  .label{
                    font-size: 16px;
                  }

                  .price-container{
                    margin: 10px 0 !important;

                    .price-wrapper{
                      display: table;
                      
                      .price,
                      .price-including-tax::before,
                      .price-excluding-tax::before{
                        font-size: 12px !important;
                        color: #747576 !important;
                        line-height: 18px !important;
                      }
                      .price{
                        font-weight: 600 !important;
                      }
                      .price-including-tax,
                      .price-excluding-tax{
                        margin: 0 !important;
                      }
                      .price-including-tax.consumer,
                      .price-excluding-tax.business{
                        .price{
                          font-size: 16px !important;
                          color: #444 !important;
                        }
                      }
                    }
                  }

                  .details-qty{
                    .label{
                      font-size: 14px !important;
                      font-weight: 500;
                      width: auto;
                    }
                    .item-qty{
                      margin-left: 10px;
                      height: 25px;
                      width:50px;
                    }
                    .update-quote-item{
                      padding: 3px 8px;
                      span{
                        font-size: 14px;
                        font-weight: 500;
                      }
                    }
                  }

                  .product.actions{
                    .primary{
                      display: none;
                    }
                    .action.delete{
                      top: -5px;
                    }
                  }
                }
              }
            }
          }

          .actions{
            .action.viewquote{
              display: block;
              background: #0079c4;
              color: white;
              padding: 7px;
  
              span{
                font-size: 16px;
              }

              &:hover{
                background-color: #30a5ff;
                color: white;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1599px){
  .header-container{
    #header-account{
      .my-account{
        font-size: 13px !important;
      }
      .authorization-link{
        a{
          font-size: 13px !important;
        }
      }
    }

    .minicart-wrapper.mini-cart{
      margin: 0 20px 0 0;
      .dropdown-heading{
        .label{
          font-size: 13px !important;
        }
      }

      #header-cart{
        max-width: 330px;
      }
    }

    .miniquote-wrapper{
      top: 5px;
      .action.showquote{
        .text{
          font-size: 13px;
          clip: unset;
          overflow: visible;
          margin-left: 3px;
          position: static;
        }
      }
      .block-miniquote{
        #miniquote-content-wrapper{
          .block-content{
            .action.close{
              width: 25px;
              top: 5px;
              right: 10px;
            }
          }
        }
      }
    }
  }
}

@media @ant-tablet{
  .header-container{
    #header-account{
      .my-account{
        font-size: 13px !important;
      }
      .authorization-link{
        a{
          font-size: 13px !important;
        }
      }
    }

    .minicart-wrapper.mini-cart{
      margin: 0;
      .dropdown-heading{
        .label{
          font-size: 13px !important;
        }
      }
      #header-cart{
        max-width: 330px;
      }
    }

    .miniquote-wrapper{
      .action.showquote{
        .text{
          font-size: 13px;
          clip: unset;
          overflow: visible;
          margin-left: 3px;
          position: static;
        }
      }
    }
  }
}

@media(max-width: 767px){
  .header-container .mini-cart.minicart-wrapper{
      margin-top: 0;
  }
  .header-primary-container .miniquote-wrapper{
      position: absolute;
      right: 0;
      width: 20%;
      margin: 0;
      bottom: 0;
      top: 83px;
      left: auto;
      height: 50px;
      float: none;
  }
  .header-primary-container .miniquote-wrapper .action.showquote{
      margin: 0;
      width: 100%;
      height: 100%;
      background-color: #0079c4;
  }
  .header-primary-container .miniquote-wrapper .action.showquote::before{
      position: absolute;
      left: 50%;
      transform: translate(-50%, -40%);
      top: 50%;
      height: 20px;
      width: 20px;
  }
}