& when (@media-common =true) {
    .column.main {
        .slideshow-wrapper {
            .owl-carousel .owl-item .item {
                .antratek-slider {
                    position: absolute;
                    bottom: 10%;
                    width: 45%;
                    margin-left: 7%;
                    font: @ngp-f_home_slider;

                    .antratek-slider-caption {
                        margin-top: -10px;
                        color: #fff;
                    }

                    .antratek-slider-button {
                        margin-top: 15px;

                        .antratek-shop-button {
                            width: 140px;
                            height: 40px;
                            color: #fff;
                            background-color: @ngp-common-color1;
                        }
                    }

                    .antratek-slider-content.slide-2 {
                        color: white;
                        width: 70%;
                    }
                }

                .antratek-slider-3 {
                    position: absolute;
                    bottom: 10%;
                    margin: 8%;

                    .antratek-slider-3-caption {
                        .antratek-slider-3-heading {
                            font: @ngp-f_home_slider;

                            .content-title-1 {
                                background: #fff;
                                width: 98%;
                                padding: 0 10px;
                                position: relative;
                                bottom: 15px;
                                font-weight: 400;
                                font-size: 2.5vw;
                            }

                            .content-title-2 {
                                background: #fff;
                                width: 58%;
                                font-weight: 100;
                                padding: 0 10px;
                                font-size: 2.5vw;
                            }
                        }

                        .content-description-1 {
                            color: #fff;
                            width: 58%;
                            position: relative;
                            top: 30px;
                            font-weight: 500;
                        }

                        .content-description-2 {
                            color: #fff;
                            width: 60%;
                            position: relative;
                            top: 45px;
                            font-weight: 500;
                        }
                    }

                    .antratek-slider-link {
                        a {
                            color: #fff;
                            position: relative;
                            font-weight: 600;
                            top: 80px;
                            text-decoration: underline;
                        }

                    }
                }
            }
        }
    }

    .slider-arrows2 .owl-controls .owl-buttons div {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
}

@media only screen and (max-width: 767px) {
    .header-container3 .header-primary{
        padding: 0;
    }
    .column.main {
        .slideshow-wrapper {
            .owl-carousel .owl-item .item {
                .antratek-slider {
                    width: 80%;

                    .antratek-slider-content {
                        font-weight: 500;
                        font-size: 1.9rem;
                    }

                    .antratek-slider-caption {
                        position: absolute;
                        color: #fff;
                        font-size: 1.9rem;
                    }

                    .antratek-shop-button {
                        color: #fff;
                        background-color: @ngp-common-color1;
                    }

                    .antratek-slider-content.slide-2 {
                        width: 80%;
                    }
                }

                .antratek-slider-3 {
                    bottom: 0;
                    top: 15px;

                    .antratek-slider-3-caption {

                        .antratek-slider-3-heading {
                            font-size: 1.3rem;

                            .content-title-1,
                            .content-title-2 {
                                font-size: initial;
                            }
                        }

                        .content-description-1 {
                            width: auto;
                            position: unset;
                            text-align: justify;
                        }
                    }

                    .antratek-slider-link {
                        a {
                            top: 20px;
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .column.main {
        .slideshow-wrapper {
            .owl-carousel .owl-item .item {
                .antratek-slider {
                    bottom: 25%;
                    width: 40%;

                    .antratek-slider-button {
                        .antratek-shop-button {
                            width: 175px;
                            height: 50px;
                        }
                    }
                }
            }
        }
    }
}