@import '../../_breakpoint-variable.less';

& when (@media-common =true) {
    .column.main {
        .slideshow-wrapper {
            .owl-carousel .owl-item .item {
                .antratek-slider {
                    position: absolute;
                    bottom: 10%;
                    width: 45%;
                    margin-left: 7%;
                    font: @ngp-f_home_slider;

                    .antratek-slider-caption {
                        margin-top: -10px;
                        color: #fff;
                    }

                    .antratek-slider-button {
                        margin-top: 15px;

                        .antratek-shop-button {
                            width: 140px;
                            height: 40px;
                            color: #fff;
                            background-color: @ngp-common-color1;
                        }
                    }

                    .antratek-slider-content.slide-2 {
                        color: white;
                        width: 70%;
                    }
                }

                .antratek-slider-3 {
                    position: absolute;
                    bottom: 10%;
                    margin: 8%;

                    .antratek-slider-3-caption {
                        .antratek-slider-3-heading {
                            font: @ngp-f_home_slider;

                            .content-title-1 {
                                background: #fff;
                                width: 98%;
                                padding: 0 10px;
                                position: relative;
                                bottom: 15px;
                                font-weight: 400;
                                font-size: 2.5vw;
                            }

                            .content-title-2 {
                                background: #fff;
                                width: 58%;
                                font-weight: 100;
                                padding: 0 10px;
                                font-size: 2.5vw;
                            }
                        }

                        .content-description-1 {
                            color: #fff;
                            width: 58%;
                            position: relative;
                            top: 30px;
                            font-weight: 500;
                        }

                        .content-description-2 {
                            color: #fff;
                            width: 60%;
                            position: relative;
                            top: 45px;
                            font-weight: 500;
                        }
                    }

                    .antratek-slider-link {
                        a {
                            color: #fff;
                            position: relative;
                            font-weight: 600;
                            top: 80px;
                            text-decoration: underline;
                        }

                    }
                }
            }
        }
    }

    .slider-arrows2 .owl-controls .owl-buttons div {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
}

@media only screen and (max-width: 1199px) {
    .column.main {
        .slideshow-wrapper {
            .owl-carousel .owl-item .item {
                .antratek-slider {
                    font-size: 24px;
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .column.main {
        .slideshow-wrapper {
            .owl-carousel .owl-item .item {
                .antratek-slider {
                    width: 86%;
                }
                .antratek-slider-3 {
                    margin: 8% 4%;
                    top: 8%;
                    bottom: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .header-container3 .header-primary{
        padding: 0;
    }
    .column.main {
        .slideshow-wrapper {
            .owl-carousel .owl-item .item {
                .antratek-slider {
                    width: 80%;

                    .antratek-slider-content {
                        font-weight: 500;
                        font-size: 1.9rem;
                    }

                    .antratek-slider-caption {
                        color: #fff;
                        font-size: 1.9rem;
                    }

                    .antratek-shop-button {
                        color: #fff;
                        background-color: @ngp-common-color1;
                    }

                    .antratek-slider-content.slide-2 {
                        width: 80%;
                    }
                }

                .antratek-slider-3 {
                    bottom: 0;
                    top: 15px;

                    .antratek-slider-3-caption {

                        .antratek-slider-3-heading {
                            font-size: 1.3rem;

                            .content-title-1,
                            .content-title-2 {
                                font-size: initial;
                            }
                        }

                        .content-description-1 {
                            width: auto;
                            position: unset;
                            text-align: justify;
                        }
                    }

                    .antratek-slider-link {
                        a {
                            top: 20px;
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .column.main {
        .slideshow-wrapper {
            .owl-carousel .owl-item .item {
                .antratek-slider {
                    bottom: 25%;
                    width: 40%;

                    .antratek-slider-button {
                        .antratek-shop-button {
                            width: 175px;
                            height: 50px;
                        }
                    }
                }
            }
        }
    }
}

.cms-ict-automatisering,
.cms-home {
    .column.main {
        .slideshow-wrapper-outer {
            padding-left: 58px;
            .slideshow-wrapper{
                .owl-carousel{
                    .owl-item{
                        img {
                            width: 100%;
                        }
                        .antratek-slider{
                            .antratek-slider-button{
                                .antratek-shop-button{
                                    font-size:18px;
                                    width: 175px;
                                    height: 50px;
                                    font-weight: 500;
                                    letter-spacing: 0.5px;
                                }
                            }
                        }
                        .antratek-slider.slider-1{
                            .antratek-slider-caption {
                                margin-top: 0;
                            }
                        }
                        .antratek-slider.slider-1,
                        .antratek-slider.slider-2 {
                            bottom: 11%;
                            .antratek-slider-content{
                                font-size: 35px;
                            }
                            .antratek-slider-button {
                                margin-top: 2.5rem;
                            }
                        }
                        .antratek-slider-3{
                            bottom:24%;
                            margin:0%;
                            left:7%;
    
                            .antratek-slider-3-caption{
                                .antratek-slider-3-heading{
                                    .content-title-2,
                                    .content-title-1{
                                        font-size:35px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .cms-ict-automatisering,
    .cms-home {
        .column.main {
            .row {
                margin: 0;
            }
            .slideshow-wrapper-outer {
                padding-left: 0;
                .slideshow-wrapper {
                    .owl-carousel {
                        .owl-item {
                            .antratek-slider.slider-2,
                            .antratek-slider.slider-1 {
                                width: 40%;
                                .antratek-slider-caption,
                                .antratek-slider-content { 
                                    font-size: 30px;
                                }
                                .antratek-slider-button{
                                    .antratek-shop-button{
                                        width: 165px;
                                        height: 45px;
                                    }
                                }
                            }
                            .antratek-slider-3 {
                                .content-description-1 {
                                    top: 20px;
                                }
                                .content-description-1 {
                                    top: 35px;
                                }
                                .antratek-slider-link {
                                    a {
                                        top: 55px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media @ant-mobile{
    .cms-home,
    .cms-ict-automatisering{
        .columns{
            display: block;
            .column.main{
                .row{
                    margin: 0;
                }
                .slideshow-wrapper-outer{
                    padding-left: 0;
                    .owl-carousel{
                        .owl-item{
                            .antratek-slider.slider-2,
                            .antratek-slider.slider-1{
                                bottom: 15px;
                                width: 100%;
                                box-sizing: border-box;
                                padding: 0 15px;
                                margin: 0;
                                left: 0;

                                .antratek-slider-caption{
                                    font-size: 25px;
                                }
                                .antratek-slider-content { 
                                    font-size: 30px;
                                    width: 100%;
                                }
                                .antratek-slider-button{
                                    .antratek-shop-button{
                                        margin-top: 1rem;
                                        font-size: 14px;
                                        width: 110px;
                                        height: 40px;
                                    }
                                }
                            }
                            .antratek-slider-3 {
                                width: 100%;
                                box-sizing: border-box;
                                padding: 0 15px;
                                margin: 0;
                                left: 0;
                                bottom: 0;
                                top: 45px;
                                .antratek-slider-3-caption {
                                    .antratek-slider-3-heading {
                                        .content-title-2,
                                        .content-title-1 {
                                            position: static;
                                            font-size:25px;
                                        }
                                    }
                                    .content-description-1 {
                                        margin-top: 25px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}