& when (@media-common =true) {
    .column.main {
        .slideshow-wrapper {
            .owl-carousel .owl-item .item {
                .antratek-slider {
                    position: absolute;
                    bottom: 10%;
                    width: 45%;
                    margin-left: 7%;
                    font: @ngp-f_home_slider;

                    .antratek-slider-caption {
                        margin-top: -10px;
                        color: #fff;
                    }

                    .antratek-slider-button {
                        margin-top: 15px;

                        .antratek-shop-button {
                            width: 140px;
                            height: 40px;
                            color: #fff;
                            background-color: @ngp-common-color1;
                        }
                    }

                    .antratek-slider-content.slide-2 {
                        color: white;
                        width: 70%;
                    }
                }

                .antratek-slider-3 {
                    position: absolute;
                    bottom: 10%;
                    margin: 8%;

                    .antratek-slider-3-caption {
                        .antratek-slider-3-heading {
                            font: @ngp-f_home_slider;

                            #p1 {
                                background: #fff;
                                width: 98%;
                                padding-left: 10px;
                                position: relative;
                                bottom: 15px;
                                font-weight: 400;
                            }

                            #p2 {
                                background: #fff;
                                width: 58%;
                                font-weight: 100;
                                padding-left: 10px;
                            }
                        }

                        #div1 {
                            color: #fff;
                            width: 58%;
                            position: relative;
                            top: 30px;
                            font-weight: 500;
                        }

                        #div2 {
                            color: #fff;
                            width: 60%;
                            position: relative;
                            top: 45px;
                            font-weight: 500;
                        }
                    }

                    .antratek-slider-link {
                        a {
                            color: #fff;
                            position: relative;
                            font-weight: 600;
                            top: 80px;
                            text-decoration: underline;

                            &::after {
                                content: "\f105";
                                padding-left: 5px;
                                font-family: fontawesome;
                            }
                        }

                    }
                }
            }
        }
    }

    .slider-arrows2 .owl-controls .owl-buttons div {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
}

@media only screen and (max-width: 320px) {
    .columns {
        .column.main {
            .slideshow-wrapper-outer {
                .slideshow-wrapper {
                    .slideshow.owl-carousel.owl-theme {
                        .owl-wrapper-outer {
                            .owl-item {
                                .item {
                                    .antratek-slider-content {
                                        font-size: 3vw;
                                        font-weight: 500;
                                        width: 41vw;
                                        height: 15vw;
                                        margin-top: -100px;
                                        margin-left: 8%;
                                    }

                                    .antratek-slider-caption {
                                        position: absolute;
                                        margin-left: 25px;
                                        font-size: 2.5vw;
                                        font-weight: 100;
                                        color: #fff;
                                    }


                                    .antratek-shop-button {
                                        width: 100px;
                                        color: #fff;
                                        background-color: @ngp-common-color1;
                                        margin: 20px 0 30px 25px;
                                        padding: 4px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
