.itemslider {
    .block-title {
        border-color: transparent;
        padding-left: 15px;
        padding-top: 30px;
    }

    .items-grid {
        &::before {
            background: linear-gradient(to right, @ngp-common-color1, transparent);
            padding: 1px;
            width: 100%;
        }
    }
}
