& when (@media-common =true) {
    .itemslider {
        margin-top: 20px;

        .block-title {
            border-color: transparent;
            padding-left: 15px;
            padding-bottom: 25px;

            strong {
                font-weight: 500;
            }
        }

        .items-grid {
            &::before {
                background: linear-gradient(to right, @ngp-common-color1, transparent);
                padding: 1px;
                width: 100%;
            }

            .price-box {
                float: left;
                width: 41%;
            }

            .price-including-tax {
                .price {
                    margin-left: -42px;
                }
            }

            .price-excluding-tax {
                color: @ngp-common-color1;
            }

            .product-item-name {
                height: 70px;
                text-align: left;

                a.product-item-link {
                    font: @ngp-f_header_menu;
                    font-size: 15px;

                    &:hover {
                        color: @ngp-common-color1;
                    }
                }
            }

            .product-item-actions {
                button.action.tocart.primary {
                    padding: 10px 8px;
                }
            }
        }

        .owl-carousel .owl-wrapper {
            display: flex !important;
            .owl-item .item {
                height: 100%;
                .product-item-info {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .product-item-details {
                        position: relative;
                    }
                }
            }
        }

    }

    .products-related.items-grid {
        .itemslider {
            .price-box {
                float: none;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum ='min') and (@break=@screen__xl) {
    .itemslider {
        .block-title {
            >Strong {
                font-size: 21px;
            }
        }

        .items-grid {
            .product-item-name {
                a.product-item-link {
                    font-size: 21px;
                }
            }
        }
    }

    [data-label="Excl. tax"]::before,
    [data-label="Incl. tax"]::before {
        font-size: 1.6rem;
    }

    .product-items .item .price-box .price {
        font-size: 1.6rem;
    }
    .product-item-img{
        height: 260px;
    }
}
@media (min-width: 1600px) {
    .nav-container .inner-container .navi > ul {
        max-width: 1550px;
        padding-left: 0;
        padding-right: 0;
        margin: auto;
    }
}

.price-including-tax{
    &::before,
    .price{
        color: #444 !important;
    }

    &.business{
        &::before,
        .price{
            color: #747576 !important;
        }
    }
}
.price-excluding-tax{
    &::before,
    .price{
        color: #444 !important;
    }

    &.consumer{
        &::before,
        .price{
            color: #747576 !important;
        }
    }
}

.cms-ict-automatisering,
.cms-home{
    .column.main {
        padding-top: 25px;
    }
    .block.itemslider{
        margin-top: 40px;
        margin-bottom: 0;
        padding-left: 58px;

        .block-title strong{
            font-size: 23px !important;
            line-height: 24px;
            font-weight: 500;
            letter-spacing: 0.7px;
        }
        .block-content{
            margin-bottom: 10px;

            .owl-carousel{
                .owl-item{
                    width:22.4% !important;
    
                    &:hover {
                        background: #fff;
                    }
    
                    &:first-of-type,
                    &:nth-of-type(2){
                        margin-right: 0;
                    }
    
                    .product-item-info{
                        justify-content: flex-start;
                        position: relative;
                        height: 425px;

                        .product-item-img {
                            height: 200px;
                            border: 1px solid #ccc;
                            display: flex;
                            align-items: center;
                            margin-bottom: 10px;
                            border-radius: 5px;
                            .product-item-photo {
                                margin-top: 5%;
                            }
                        }
    
                        .product-item-details{
                            position: static;

                            .product-item-name{
                                height: 80px;
                                margin: 10px 0;
                                
                                a.product-item-link {
                                    font: 500 13px/1.35 Oswald,Poppins,Arial,Helvetica Neue,Helvetica,sans-serif;
                                    font-size: 21px;
                                }
                            }
        
                            .product-delivery-details{
                                display: block;
                                width: 100%;
                                text-align: left;

                                &> img{
                                    position: static;
                                    margin-right: 10px;
                                }
                                .product-availability-in-stock{
                                    position: static;
                                    display: inline-block;
                                    color: #00B900 !important;
                                    font-size: 14px;
                                    font-weight: 600;
                                }
                                .product-availability-backorder,
                                .product-availability-out-of-stock,
                                .delay-message-1,
                                .delay-message-2,
                                .delay-message-3{
                                    display: inline-block !important;
                                    font-size: 14px !important;
                                    font-weight: 600 !important;
                                }
                            }
    
                            .price-box.price-final_price {
                                margin: 0;
                                position: absolute;
                                left: 0;
                                bottom: 20px;
                                width: 55%;

                                .price-excluding-tax,
                                .price-including-tax{
                                    margin: 0 !important;
                                    line-height: 20px;
                                    text-align: left;
                                }

                                .price-excluding-tax::before,
                                .price-including-tax::before,
                                .price-excluding-tax .price,
                                .price-including-tax .price{
                                    font-size: 14px;
                                    font-weight: 500;
                                }

                                .price-excluding-tax.business .price,
                                .price-including-tax.consumer .price{
                                    font-size: 21px !important;
                                    font-weight: 600 !important;
                                }
                            }
        
                            .product-item-actions {
                                .actions-primary {
                                    width: auto;
                                    position: absolute;
                                    bottom: 18px;
                                    right: 0;
                                    button {
                                        padding: 12px 10px;
                                        background: #5cb85c;

                                        &:hover{
                                            background-color: #00B900 !important;
                                        }
                                        span {
                                            font-size: 16px;
                                            font-weight: 500;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .ajax-message{
            font-size: 14px;
            padding: 3px 10px;
            right: 0;
            bottom: -25px;
            animation: ajaxMessageLg 1000ms ease-in-out !important;
            a{
                font-size: 14px;
            }
        }
    }
}

@keyframes ajaxMessageLg{
    0%{
      right: -60%;
      opacity: 0;
    }
    100%{
      right: 0;
      opacity: 1;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .cms-ict-automatisering,
    .cms-home {
        .column.main {
            .block.itemslider {
                padding-left: 0;
                .block-content {
                    .owl-carousel {
                        .owl-item {
                            &:hover {
                                background-color: white;
                            }
                            .product-item-info {
                                justify-content: flex-start;
                                position: relative;
                                height: 390px;
                                .product-item-details{
                                    position: static;
                                    .product-item-name{
                                        height: 80px;
                                        margin: 5px 0;   
                                        a.product-item-link {
                                            font-size: 18px;
                                        }
                                    }
                                    .product-delivery-details{
                                        &> img{
                                            margin-top: 0 !important;
                                        }
                                    }
                                    .price-box.price-final_price {
                                        bottom: 12px;
                                        .price-excluding-tax,
                                        .price-including-tax{
                                            &::before,
                                            .price{
                                                font-size: 13px;
                                            }
                                            .price{
                                                margin-left: 0;
                                            }
                                        }
        
                                        .price-excluding-tax.business .price,
                                        .price-including-tax.consumer .price{
                                            font-size: 18px !important;
                                        }
                                    }
                
                                    .product-item-actions {
                                        .actions-primary {
                                            bottom: 12px;
                                            button {
                                                padding: 8px 10px;
                                                span {
                                                    font-size: 14px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .ajax-message{
                    bottom: -25px;
                    font-size: 13px;
                    a{
                        font-size: 13px;
                    }
                }
            }
        }
    }
}
