body {

    .column.main {
        padding-left: 20px;
        padding-top: 25px;
    }

    .sidebar.sidebar-main {
        padding-top: 10px;
    }

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6,
    a,
    p {
        color: #444444;
        font-weight: 500;
    }

    button,
    .action.primary {
        font: @ngp-f_para;
    }

    nav#mainmenu,
    .nav-regular .nav-item.level0>a {
        font: @ngp-f_para;
    }

    li.item.Home::before {
        content: "\f015";
        font-family: FontAwesome;
        font-size: 16px;
    }
}


/** Large Screen Only **/
@media (min-width: 1600px) {
    html {

        .container {
            max-width: 1720px;
        }

        .column.main {
            padding-left: 20px;
            padding-top: 100px;
        }

        .sidebar.sidebar-main {
            padding-top: 100px;
        }

        body {

            h6,
            .h6 {
                font-size: 18px;
            }

            h5,
            .h5 {
                font-size: 22px;
            }

            h4,
            .h4 {
                font-size: 24px;
            }

            h3,
            .h3 {
                font-size: 26px;
            }

            h2,
            .h2 {
                font-size: 30px;
            }

            h1,
            .h1 {
                font-size: 34px;
            }

            p {
                font-size: 18px;
            }

            a {
                font-size: 18px;
            }

            small {
                font-size: 18px
            }
        }
    }
}
