body {
    .column.main {
        padding-left: 20px;
        padding-top: 70px;
    }

    .sidebar.sidebar-main {
        padding-top: 70px;
    }

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
        color: #444444;
    }
}


/** Large Screen Only **/
@media (min-width: 1600px) {
    html {

        .container {
            max-width: 1720px;
        }

        .column.main {
            padding-left: 20px;
            padding-top: 100px;
        }

        .sidebar.sidebar-main {
            padding-top: 100px;
        }
    }
}
