body {

    .column.main {
        padding-left: 20px;
        padding-top: 25px;
    }

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6,
    a,
    p {
        color: #444444;
        font-weight: 500;
    }

    button,
    .action.primary {
        font: @ngp-f_btn;
    }

    li.item.Home::before {
        content: "\f015";
        font-family: FontAwesome;
        font-size: 16px;
    }
}

small,
div>.dd-by-boostsales {
    font-size: 13px;
}

strong {
    font-weight: 500;
}

.breadcrumbs {
    .items {
        li.item {
            &:last-child {
                color: @ngp-common-color1;

                strong {
                    color: @ngp-common-color1;
                }
            }

            &.Home {
                color: unset;

                Strong {
                    color: unset;
                }
            }
        }
    }
}

/** Large Screen Only **/
@media (min-width: 1600px) {
    html {

        .container {
            max-width: 1720px;
        }

        .column.main {
            padding-left: 58px;
            padding-top: 48px;
        }

        .sidebar.sidebar-main {
            padding-top: 25px;
            padding-right: 0;
        }

        body {

            h6,
            .h6 {
                font-size: 18px;
            }

            h5,
            .h5 {
                font-size: 21px;
            }

            h4,
            .h4 {
                font-size: 24px;
            }

            h3,
            .h3 {
                font-size: 26px;
            }

            h2,
            .h2 {
                font-size: 30px;
            }

            h1,
            .h1 {
                font-size: 34px;
            }

            p,
            td {
                font-size: 18px;
            }

            a {
                font-size: 18px;
            }

            small,
            div>.dd-by-boostsales,
            label {
                font-size: 18px;
            }

            button,
            .action.primary,
            span {
                font-size: 18px;
            }
        }
    }
}

/** Mobile **/
.media-width(@extremum, @break) when (@extremum ='max') and (@break=@screen__m) {

    .main.container {
        .inner-container {
            .breadcrumbs {
                display: none;
            }
        }
    }
}
