#product-simple-bundles {
    width: 100%;
    padding: 20px;
    margin: 50px 0;
    background-color: @ngp-bg-color;

    ul li.simplebundle {
        border: none;
        margin: 20px 0;

        .simplebundle-infos {
            border: none;
        }

        .simplebundle-selection {
            .simplebundle-selection-item {
                width: 100px;
                background-color: #ffffff;

                .simplebundle-pic {
                    .simplebundle-pic-qty {
                        display: none;
                    }
                    
                    .sbundle-product-name {
                        text-align: center;
                        font-weight: 600;
                    }
                }
            }
        }

        .sbundle-description {
            display: none;
        }
    }
}
 