@import '../../_breakpoint-variable.less';

.login-container{
  .block-title strong{
    letter-spacing: 0.52px;
    font-size:26px;
  }
  .block-new-customer{
    .block-content{
      p{
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.52px;    
      }
    }
    .actions-toolbar{
      margin-left: 0 !important;
    }
  }
  .block-customer-login{
    .block-content{
      .field.note{
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.52px;
      }
    }

    .label{
      width: 23% !important;
      span{
        font-family: Oswald;
        font-weight: 500;
        letter-spacing: 0.52px;
      }
    }

    .control{
      width: 77% !important;
    }

    .fieldset.login{
      position: relative;
      margin-bottom: 0px;

      &::after{
        position: absolute;
        right: 0;
        bottom: 25%;    
      }
    }
  }
  .actions-toolbar{
    margin-top: 50px;
    margin-left: 23% !important;

    .primary{
      .action.login.primary{
        width: 12rem;
      }
      .action{
        span{
          font-weight: 500;
          font-size: 16px; 
        }
      }
    }
    .secondary{
      .action.remind{
        margin: 0;
        color: #0079c4 !important;      
        &:hover{
          color: #30a5ff;
        }
      }

      span{
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.52px;         
      }
    }
  }
}

@media @ant-mobile {
  .customer-account-login,
  .customer-account-create {

    #maincontent {
      .page-title {
        margin-left: 0;
        padding: 0 15px;
      }

      .column.main {
        padding-left: 15px !important;
        padding-right: 15px !important;

        .fieldset.login {
          position: relative !important;
          .control {
            width: 100% !important;
          }
          &::after {
            bottom: 30% !important;
          }
        }
        
        .actions-toolbar {
          margin-left: 0 !important;
          button {
            width: 100% !important;
          }
          .action.back {
            display: block !important;
            width: auto !important;
          }
        }
      }
    }
  }
}

