.antratek-newsletter {
    .antratek-newsletter-links {
        margin-left: 0;

        a.newsletter-blog {
            font-size: 14px;
            &::before {
                content: "\f105";
                font-family: FontAwesome;
                position: absolute;
                left: 3px;
                top: 0;
            }
        }
    }

    .newsletter-button {
        background-color:@ngp-common-color1;
        color: #fff;

        &:hover {
            background-color: #fff;
            color:@ngp-common-color1;
        }

        .btn-label {
            &::after {
                content: "";
                padding-top: 0px;
                padding-left: 22px;
                margin-left: 5px;
                background: url('@{baseDir}images/logo/subscribe-icon.svg') no-repeat left center transparent;
            }
        }
    }
}
