.columns {
    .sidebar.sidebar-additional {
        .sidebar-social-links {
            margin: 30px 0;

            .social-links {
                margin-top: 30px;

                .social-links-container {
                    .social-link-item {
                        padding: 2px;

                        &.facebook {
                            a>.ic-facebook {
                                background-color: #4267B2;
                                color: #fff;
                            }
                        }

                        &.linkedin {
                            a>.ic-linkedin {
                                background-color: #0077b5;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .sidebar.sidebar-additional {
        .block {
            .block-title::after {
                margin-top: -35px;
            }
        }
    }        
}    
