.columns {    
    .sidebar.sidebar-additional {
        .widget.block {
            .antratek-newsletter {
                font-size: 12px;
                font-weight: 500;

                .antratek-newsletter-links {
                    font-size: 10px;
                }
            }
        }
    }    
                    
}