.antratek-product-page-usp {
    margin-left: 5px;
    float: right;

    .antratek-usp-item {
        background-color:  @ngp-bg-color;
        width: 140px;
        height: 140px;
        margin: 5px;

        img {
            display: block;
            margin: 5% auto;
            width: 45%;
            height: 45px;
        }
                
        .antratek-usp-label {
            font-weight: 600;
            text-align: center;
        }

        .antratek-usp-description {
            font-weight: 500;
            margin: 5px auto;
            text-align: center;
        }
    }
}

@media only screen and (max-width: 420px) {
    .antratek-product-page-usp {
        margin: 30px auto;
        float: none;
    
        .antratek-usp-item {
            width: 46%;
            height: 150px;
    
            img {
                margin:10px auto;
            }
        }
    } 
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .antratek-product-page-usp {
        .antratek-usp-item {
            width: 46%;
            height: 170px;
        }
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .antratek-product-page-usp {
      margin-left: 15%;
  }  
}
