.antratek-product-page-usp {
    margin-left: 5px;
    float: right;

    .antratek-usp-item {
        background-color:  @ngp-bg-color;
        width: 140px;
        height: 190px;
        margin: 1px;

        img {
            display: block;
            margin: 10% auto;
            width: 50%;
            height: 50px;
        }
                
        .antratek-usp-label {
            font-weight: 600;
            text-align: center;
        }

        .antratek-usp-description {
            font-weight: 500;
            margin: 15px auto;
            text-align: center;
        }
    }
}

@media only screen and (max-width: 420px) {
    .antratek-product-page-usp {
        margin: 75px 0 75px 8px;
        float: none;
    
        .antratek-usp-item {
            width: 150px;
            height: 200px;
    
            img {
                margin:20px auto;
            }
        }
    } 
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .antratek-product-page-usp {
        .antratek-usp-item {
            width: 128px;
        }
    }
}
