@import "../../_breakpoint-variable.less";

.aw_wbtab {
    .block-title {
        padding-left: 12px;
    }
    
    .block-content::before {
        content: '';
        background: linear-gradient(to right, @ngp-common-color1, transparent);
        padding: 1px;
        width: 100%;
        display: inline-block;
    }

    .products-aw_wbtab {
        ol.product-items {
            button.slick-prev {
                left: 93.5%;
            }
            
            .slick-prev, .slick-next {
                top: -10%;
                width: 30px;
                height: 30px;
                line-height: 30px;
                cursor: pointer;
                background-color: @ngp-bg-color;
                color: #333;
                padding: 5px;
            }

            .slick-prev:hover,.slick-next:hover
            {
                background-color: @ngp-common-color1;
                color: #fff;
            }

            .slick-prev:hover:before,
            .slick-next:hover:before {
                color: #fff;
            }

            li.product-item {
                .product-item-details {
                    .product-item-name {
                        font-size: 1.6rem;
                        line-height: 2.2rem;
                        height: 70px;
                    }

                    .price-box.price-final_price {
                        float: left;
                    }

                    .actions-primary {
                        .action.tocart.primary {
                            width: 112px;
                            float: right;
                            padding: 10px 8px;
                            margin-top: -8px;
                        }
                    }
                }
            }

            .slick-prev::before {
                content: "\e260";
                font-family: ThemeIcons;
            }

            .slick-next::before {
                content: "\e263";
                font-family: ThemeIcons;
            }
        }
    }
}

@media only screen and (max-width: @screen__m) {
    .aw_wbtab {
        .products-aw_wbtab {
            ol.product-items {
                li.product-item {
                    .product-item-details {
                        .product-item-name {
                            height: 40px;
                        }

                        .actions-primary {
                            .action.tocart.primary {
                                float: none;
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .aw_wbtab {
        .products-aw_wbtab {
            ol.product-items {
                button.slick-prev {
                    left: 79%;
                }
            }
        }
    }        
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .aw_wbtab {
        .products-aw_wbtab {
            ol.product-items {
                button.slick-prev {
                    left: 88%;
                }
            }
        }
    }        
}

@media screen and (min-width: 1024px) and (max-width: 1350px) {
    .aw_wbtab {
        .products-aw_wbtab {
            ol.product-items {
                button.slick-prev {
                    left: 91.5%;
                }
            }
        }
    }        
}

@media @ant-desktop-sm{
    .block.aw_wbtab {
        .slick-prev.slick-arrow {
            left: 93%;
        }
    }
}
@media @ant-desktop-xl{
    .block.aw_wbtab {
        padding-left: 58px;
        .products-grid.products {
            padding-left: 0px;
        }
    }
    .block.aw_wbtab{
        padding-top: 20px;
        margin-bottom: 70px;
        margin-top:50px;
        
        .slick-slider{

            .slick-slide{

                .product-item{
                    text-align: left;

                    .product-item-details{
                        margin-top: 10px;

                        img{
                            display: inline-block;
                            margin-right: 8px;
                        }
                        .product-item-name{

                            a{
                                font-size: 18px;
                                font-family: Oswald;
                                font-weight: 500;
                            }
                        }
                        .product-availability-in-stock{
                            display: inline-block;
                            color:#03BA03;
                            font-size: 14px;
                            font-weight: 600;
                        }
                        .product-availability-out-of-stock,
                        .delay-message-1,.delay-message-2,.delay-message-3{
                            font-size: 14px;
                        }
                        .price-box.price-final_price{
                            float: none;
                            margin-top: 15px;
                            position: absolute;
                            left: 0;
                            bottom: 0;
                        }

                        .price-excluding-tax.consumer,
                        .price-including-tax.business{
                            .price{
                                font-size: 14px;
                                font-weight: 500 !important;
                            }
                        }
                        .price-including-tax.consumer,
                        .price-excluding-tax.business{
                            .price{
                                font-size: 21px !important;
                                font-weight: 600;
                            }
                        }
                        .price-including-tax,
                        .price-excluding-tax{
                            margin: 0 !important;
                            &::before{
                                font-size: 14px;
                            }
                        }
                    }

                    .product-item-info{
                        max-width: 94%;
                        position: relative;
                        height: 390px !important;                  

                        .product-item-photo{
                            width: 100%;
                            display: inline-block;
                            text-align: center;
                            border: 1px solid #ccc;
                            border-radius: 5px;
                            margin-bottom: 10px;
                            display: flex;
                            align-items: center;
                            height: 200px;
                            justify-content: center;   
                        }

                        .actions-primary{
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            margin: 0 !important;

                            .action.tocart.primary{
                                width: auto;
                                margin: 0 !important;
                                background-color: #5cb85c;

                                &:hover{
                                    background-color: #00B900;
                                }
                                span{
                                    font-weight: 500;
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}