@import '../../_common-mixin.less';

.quotation-quote-history,
.sales-order-history{
  .column.main{
    padding-top: 25px;

    .orders-history{
      .paddingLeft(48px);
      thead{
        th{
          .fontSize(16px);
          .commonLetterSpacing();
          text-transform: capitalize;
        }
      }
      tbody{
        td{
          .fontSize(14px);
          .commonLetterSpacing();
          font-weight: 500;

          .price{
            .fontSize(14px);
            .commonLetterSpacing();
            font-weight: 500;
          }

          &.actions{
            .action{
              &.view,
              &.order{
                color: #0079c4;
                span{
                  .fontSize(14px);
                  .commonLetterSpacing();
                  font-weight: 500;
                }
              }
            }
          }
        }
      }
    }
    .order-products-toolbar{
      .paddingLeft(48px);
      .toolbar-amount{
        padding-top: 0;

        .toolbar-number{
          .fontSize(16px);
          .commonLetterSpacing();
          text-transform: capitalize;
        }
      }
      .limiter{
        .limiter-label,
        .limiter-text{
          .fontSize(16px);
          .commonLetterSpacing();
        }
      }
    }
  }

  @mobile-padding: 0 12px;
  @tablet-padding: 0 16px;

  @media (min-width:768px) and (max-width:1200px) {
    .page-title {
        padding: @tablet-padding;
        font-size: 36px !important;
    }

    .column.main {
        .table-wrapper.orders-history,
        .actions-toolbar,
        .order-products-toolbar {
          padding: @tablet-padding  !important;
        }
        .message{
          margin: @tablet-padding !important;
        }
    }
  }

  @media (max-width:767px) {
      .page-title {
          padding: @mobile-padding;
          margin-bottom: 0 !important;
      }

      .content-wrapper {
          width: 100% !important;
      }

      .column.main {
          .table-wrapper.orders-history,
          .actions-toolbar,
          .order-products-toolbar {
            box-sizing: border-box;
            padding: @mobile-padding  !important;
          }
          .message{
            margin: @mobile-padding !important;
          }
      }
  }
}